.portfolio-side-nav-menu {
  line-height: 30px;
  width: 90%;
  padding-right: 10%;
  text-align: right;
  $this: &;

  &__item-container{
    max-width: 200px;
    margin-left: auto;
  }

  &__item {
    cursor: pointer;
    color: grey;
    text-align: left;
    display: block;
    text-decoration: none;

    &:hover,
    &--active {
      text-decoration: none;
      color: rgb(193, 54, 52);
      font-weight: bold;
    }
  }
}

.portfolio-side-nav-sub-header {
  // font-weight: bold;
  // color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;

  // text-decoration: underline;
}
