@import '../../assets/styles/base.scss';


.process-view-container {
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
}


.process-video-container{
  width: 97%;
  height: 555px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  @media (max-width: 1440px) {
    height: 41vw;
  }
  @media (max-width: 1024px) {
    height: 50vw;
  }

  @media (max-width: 659px) {
    margin-top: 20vw;
  }
}


.process-team-image-container {
  width: 100%;
  margin-bottom: 15px;

  @media (max-width: 659px) {
    margin-top: 20vw;
    display: inline-block;
  }
}

.process-team-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// .process-video{
//   margin: auto;
//   width: 100%;
//   height: 400px;
//   @media (max-width: 1024px) {
//     height: 40vw;
//   }
// }

.process-description-text {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 14px;
  line-height: 30px;
  color: grey;
  margin-top: 35px;
  margin-bottom: 50px;

}

.process-image-container{
  vertical-align: top;
  width: 65%;
  padding-right: 5%;
  display: inline-block;

  @media (max-width: 899px) {
    width: 30%;
  }
}

.process-image{
  display: inline-block;
  width: 30%;
  height: 200px;
  margin-left: 3%;
  background-color: grey;
  background-size: cover;
  @media (max-width: 899px) {
    width: 100%;
  }
}

.process-email-container{
  display: inline-block;
  width: 30%;
  margin-bottom: 50px;
  @media (max-width: 899px) {
    padding-right: 1.5%;
    width: 63.5%;
  }

  @media (max-width: 659px) {
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 97%;
  }
}
.process-email-text{
  display: inline-block;
  height: 151px;
  width: 100%;
  vertical-align: top;
  margin-bottom: 15px;
  font-size: 14px;
  color: grey;
  line-height: 22px;

  @media (max-width: 899px) {
    height: auto;
    margin-bottom: 25px;
  }
}

.process-email-form{
  vertical-align: bottom;
  display: inline-block;
  width: 100%;
}


.process-download-header{
  font-size: 14px;
  text-align: center;
}
