@import '../../assets/styles/base.scss';


.button-wrapper--disabled {
    opacity: 0.3;
  }

.button-wrapper {
  display: inline-block;
  width: 24%;
  vertical-align: bottom;
  margin-left: 0px;
  height: 100%;
}
.login-btn {
  
    border: none;
    height: 32px !important;
    width: 100%;
    padding: 1px 6px !important;

    margin: 0 !important;
    font: 400 12px Arial;
    font-weight: bold;
    color: white;
    background-color: grey;
    cursor: pointer;
    &:hover {
      background-color: $awa-red;
      // color: #c13634;
    }
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    
  }