@import '../../assets/styles/base';

.gallery-container {
  position: relative;
}

// .project-text-container{
//   overflow: auto;

// }

.project-text-container {
  position: absolute;
  height: 97%;
  width: 35%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  z-index: 50;
  color: white;
  background: rgba(10, 10, 10, 0.6);
  line-height: 25px;
  overflow: auto;
  @media (max-width: 768px) {
    width: 96%;
    font-size: 10pt;
  }
}

.scroll-carousel-project-container {
  margin-left: 1.5%;
  margin-right: 1.5%;
  @media (max-width: 659px) {
    margin-top: 20vw;
  }
}

.scroll-carousel-project {
  margin-bottom: 250px;
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.scroll-carousel-project-text-container {
  margin-bottom: 150px;
  margin-top: 20px;

  // background-color: lightgrey;
}

.scroll-carousel-project-project-description-container {
  width: 68%;
  min-height: 180px;
  padding-left: 2%;
  display: inline-block;
  // background-color: white;
  vertical-align: top;
  line-height: 30px;
  color: grey;
  // border-top: 1px solid grey;
  // border-bottom: 1px solid grey;
  // border-right: 1px solid grey;
}

.scroll-carousel-project-info-text-container {
  width: 30%;
  // padding-left: 2%;
  // margin-top: 30px
  display: inline-block;
  vertical-align: top;
}

.scroll-carousel-project-title {
  width: 80%;
  font-size: 16pt;
  font-weight: bold;
  color: rgb(193, 54, 52);
  margin-top: 10px;
  display: inline-block;
  @media (max-width: 768px) {
    font-size: 1.5em;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 5px;
  }
}

.scroll-carousel-project-info-icon {
  width: 20%;
  font-size: 20pt;
  // font-weight: bold;
  color: rgb(140, 140, 140);
  margin-top: 10px;
  text-align: right;
  display: inline-block;

  :hover {
    color: black;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.scroll-carousel-project-info-icon--active {
  width: 20%;
  font-size: 20pt;
  // font-weight: bold;
  color: rgb(193, 54, 52);
  margin-top: 10px;
  text-align: right;
  display: inline-block;

  :hover {
    color: rgb(193, 54, 52);
    cursor: pointer;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.scroll-carousel-project-info-text {
  margin-bottom: 10px;
}

.scroll-carousel-project-info-text-bold {
  font-weight: bold;
}

.scroll-carousel-info-text-container {
  ///BEN UPDATE//
  display: none;

  position: absolute;
  width: 300px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 36px;
  height: 610.25px;
  line-height: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
