@import '../../assets/styles/base';

$item-margin: 8px;

.nav-bar-menu {
  $this: &;

  &__item {
    cursor: pointer;
    color: grey;
    height: 100%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    // padding-left: 5px;
    // padding-right: 5px;
    margin-right: $item-margin;
    margin-left: $item-margin;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    //BENDO--HOVER IS GOOFY ON SAFARI!
    //this transition is related to the hover translation below...
    // transition: text-shadow .3s !important;
    // &:hover {
    //   //this is to get rid of the first item pushing the others to the side....
    //   text-shadow: 0 0 0px grey, 0 0 0px grey !important;
    // }
    &--active {
      text-decoration: none;
      color: rgb(193, 54, 52);
      font-weight: bold;
    }
  }

  &__flag {
    display: inline-block;
    cursor: pointer;
    height: 16px;

    img {
      max-width: 25px;
      max-height: 25px;
      line-height: 20px;
      display: block;
      padding-top: 2px;
      padding-left: 10px;
    }
  }
}
