.home-carousel {
	height:100%;
	margin: 0;
	width: 100%;
}

.home-image-slide {
	height: 100%;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	transition: background-image 1s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	// transition: opacity 1s ease-in-out;
}
