@import '../../assets/styles/base';

.text-input {
  $this: &;

  &__wrapper {
    width: 74%;
    // height: 30px;
    display: inline-block;

    
  }

  &__input {
    border: 1px solid grey;
    padding-left: 2%;
    padding-right: 0%;
    width: 98%;
    height: 30px;

    font: 400 12px Arial;

    padding-top: 0;
    padding-bottom: 0;


    // fix ios sillyness...
    border-radius: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-clip: padding-box !important;
  }

  &__input::placeholder {
    color: grey;
  }
  

  &__error-msg {
    height: 25px;
    padding-top: 5px;
    color: $awa-red;
  }

  &__success-msg {
    height: 25px;
    padding-top: 5px;
  }
}

// ::placeholder { 
//   color: red !important;
// }