@import '../../assets/styles/base.scss';


.contact-view-container {
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;
}


.contact-main-image-container {
  width: 100%;
  margin-bottom: 30px;

  @media (max-width: 659px) {
    margin-top: 20vw;
    display: inline-block;
  }
}

.contact-main-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// .contact-video{
//   margin: auto;
//   width: 100%;
//   height: 400px;
//   @media (max-width: 1024px) {
//     height: 40vw;
//   }
// }

.contact-description-text {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 12px;
  line-height: 30px;
  color: grey;
  margin-top: 35px;
  margin-bottom: 70px;

}

.contact-info-container{
  vertical-align: top;
  width: 45%;
  padding-right: 5%;
  display: inline-block;

  @media (max-width: 800px) {
    width: 30%;
  }

  @media (max-width: 659px) {
    width: 95%;
  }
}

.contact-image{
  display: inline-block;
  width: 30%;
  height: 200px;
  margin-left: 3%;
  background-color: grey;
  background-size: cover;
  @media (max-width: 899px) {
    width: 100%;
  }
}

.contact-email-container{
  display: inline-block;
  width: 50%;
  margin-bottom: 50px;
  @media (max-width: 800px) {
    width: 65%;
  }

  @media (max-width: 659px) {
    // margin-left: 1.5%;
    // margin-right: 1.5%;
    width: 100%;
  }
}
.contact-email-text{
  display: inline-block;
  height: 85px;
  width: 100%;
  vertical-align: top;
  margin-bottom: 15px;
  font-size: 14px;
  color: grey;
  line-height: 22px;

  @media (max-width: 899px) {
    height: auto;
    margin-bottom: 25px;
  }
}

.contact-email-form{
  vertical-align: bottom;
  display: inline-block;
  width: 100%;
}


.contact-download-header{
  font-size: 14px;
  text-align: center;
}

.contact-link-special-text {
  
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}


.contact-link-info-text,
.contact-link-info-text-inline, .job-posting-link {
  // display: inline-block;
  margin-top: 5px;
  text-decoration: none !important;
  color: #b40000;

  :hover {
    cursor: pointer;
  }
}


.contact-link-info-text-inline {
  margin: 0;
  margin-top: 0;
  display: inline-block;
}

.contact-address-text-container {
  font-size: 14px;
  color: rgb(100, 100, 100);
}


.contact-employment-text-container {
  line-height: 22px;
  margin-bottom: 15px;
  font-size: 14px;
  color: rgb(100, 100, 100);

   @media (max-width: 659px) {
    margin-top: 15px;
  }
}


.contact-link-text {
  width: 100%;
}


.current-job-openings {
  padding-bottom: 2%;
  padding-left: 5%;
}

.job-posting-list{
  list-style-type: none !important;
  padding-left: 0;
}

.job-posting{
  margin-bottom: 1%;
}







































// $contact-box-height: 600px;

// .contact-view-container {
//   margin-bottom: 10px;
//   width: 97%;
//   margin-left: 1.5%;
//   margin-right: 1.5%;
//   border: 1px solid grey;
//   background-color: rgb(238, 238, 238);
//   align-items: stretch;
//   @media (max-width: 1023px) {
//     margin-bottom: 10px;
//     width: 97%;
//     margin-left: 1.5%;
//     margin-right: 1.5%;
//     border: none;
//     margin-top: 40px;
//     // background-color: white;
//   }
// }
// .contact-info-box-container {
//   width: 30%;
//   height: $contact-box-height;
//   display: inline-block;
//   vertical-align: top;
//   text-align: center;
//   color: grey;
//   font-size: 18px;
//   line-height: 25pt;
//   // background-color: rgb(238, 238, 238);
//   @media (max-width: 1023px) {
//     width: 100%;
//     height: auto;
//   }
// }

// .contact-info-text {
//   padding-left: 1%;
//   padding-right: 1%;
//   padding-top: 35px;
//   font-size: 0.75em;
//   @media (max-width: 659px) {
//     padding-top: 20vw;
//   }
// }



// .contact-info {
//   text-align: left;
// }

// .contact-address-text {
//   width: 100%;
//   display: block;
// }







// .contact-link-info-text-job {
//   text-align: center;
// }

// .contact-image-container {
//   display: inline-block;
//   width: 70%;
//   height: $contact-box-height;
//   @media (max-width: 1023px) {
//     width: 100%;
//   }
// }

// .contact-image {
//   width: 100%;
//   height: 100%;
//   object-fit: fill;
//   margin-bottom: -3px;
// }

// .contact-employment-text {
//   text-align: justify;
//   margin-top: 40px;
//   padding-left: 7%;
//   padding-right: 7%;
//   margin-bottom: 10px;
// }
