@import '../../assets/styles/base.scss';

.studio-content-container {
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 10px;

  // background-color: grey;
}

.studio-group-pic-container {
  width: 100%;
  margin-bottom: 15px;

  @media (max-width: 659px) {
    margin-top: 20vw;
    display: inline-block;
  }
}

.studio-group-pic-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro-studio-content-container {
  margin-bottom: 50px;
  float: left;
  background-color: rgb(233, 232, 232);

  @media (max-width: 659px) {
    background-color: white;
  }
  // border: 1px solid black;
}

.ana-studio-image-container {
  display: inline-block;
  width: 40%;

  @media (max-width: 900px) {
    float: left;
    margin-right: 15px;
  }

  @media (max-width: 659px) {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
  }
  // border-right: 1px solid black;
}

.studio-intro-text-container{
  display: inline-block;
  vertical-align: top;
  width: 54%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 15px;

  @media (max-width: 900px) {
    display: inline;
  }

  @media (max-width: 659px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  } 
}


.studio-intro-text{
  display: inline;
  vertical-align: top;
  line-height: 30px;
  -webkit-text-size-adjust: 100%;
  // text-align: justify;
  color: grey;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

.studio-intro-text-paragraph{
  margin-top: 15px;
}


.ana-studio-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: -3px;
}

.studio-header-ana {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 18pt;
  @media (max-width: 659px) {
    // margin-top: 20vw;
    font-size: 16pt;
    text-align: center;
    display: inline-block;
  }
}

.studio-header {
  width: 100%;
  margin-bottom: 10px;
  font-size: 18pt;
  // border-bottom: 1px solid black;
  @media (max-width: 659px) {
    font-size: 14pt;
    text-align: center;
    border-bottom: none;
    margin-bottom: 30px;
  }
}

.staff-studio-content-container {
  margin-bottom: 50px;
  margin-top: 20px;
}

.staff-studio-image-container {
  display: inline-block;
  width: 25%;

  @media (max-width: 768px) {
    width: 40%;
  }

  @media (max-width: 659px) {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.staff-studio-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin-bottom: -3px;
}

.staff-studio-text-container {
  display: inline-block;
  width: 72%;
  margin-left: 3%;
  vertical-align: top;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;

  @media (max-width: 768px) {
    width: 57%;
  }

  @media (max-width: 659px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
  }
}

.staff-about-info-text {
  margin-bottom: 10px;
  font-size: 15px;
}

.staff-about-text {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;
  width: 100%;
  line-height: 25px;
  color: grey;
}
