@import '../../assets/styles/base.scss';

.news-content-container {
  width: 100%;
  // margin-left: 1.5%;
  // margin-right: 1.5%;
  margin-top: 10px;
  @media (max-width: 659px) {
    // margin-top: 20vw;
    margin-top: 20vw;
  }

  // background-color: grey;
}

.news-article-container {
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid grey;
  cursor: pointer;

  @media (max-width: 659px) {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.news-image-container {
  display: inline-block;
  width: 100%;
  // height: 40vh;
}

.news-text-container {
  display: inline-block;
  vertical-align: top;
  min-height: 50px;
  width: 100%;
}

.news-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin-bottom: -3px;
}
