@import '../../assets/styles/base.scss';

$first-row-height: 22vw;
$right-row-width: 30.5%;
$right-row-margin: 0.5%;
$bottom-image-height: 12vw;

.home-content-container {
  // min-height: $first-row-height;
  max-height: 605px;
  width: 100%;
  margin-top: 10px;
  display: inline-block;
  @media (max-width: 659px) {
    margin-top: 22vw;
    padding-bottom: 12vw;
  }
}

.home-main-image-container {
  width: 97%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  height: 50vw;
  display: inline-block;

  @media (min-width: 1440px) {
    height: 600px;
  }
}

.home-main-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: inline-block;
}

.home-about-text-container {
  width: $right-row-width;
  margin-left: $right-row-margin;
  height: $first-row-height;
  display: inline-block;
  vertical-align: top;
  background-color: lightgray;
  // overflow: auto;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  @media (max-width: 1440px) and (min-width: 769px) {
    min-height: 32vw;
  }
}

.home-about-header-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: calc(12px + 0.5vw);
  padding-top: 1vw;
  padding-left: 25px;
  text-align: left;
}

.home-about-text {
  font-size: calc(10px + 0.2vw);
  text-align: left;
  margin-top: 0.5vw;
  padding-left: 25px;
  padding-right: 25px;
  line-height: calc(15px + 0.5vw);
  color: grey;

  @media (max-width: 1440px) and (min-width: 769px) {
    font-size: calc(8px + 0.5vw);
    line-height: 1.8vw;
  }

  @media (max-width: 768px) {
    padding-bottom: 1vw;
  }
}
