@import './base.scss';
@import './fonts/domine-font';
@import './fonts/opensans-font';
@import './fonts/play-font';
@import './fonts/playfair-display-font';
@import './fonts/nunitosans-font';

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  margin: 0px;
}
